node_modules
**/node_modules
test-results
playwright-report
npm-debug.log
.git
.gitignore
README.md
**/.env*
!**/.env.example
*.md
.github
frontend/node_modules
frontend/dist
/backend/data*/
backend/node_modules
/config/
/data/
*.log
.DS_Store
